/*-------------CSS RESET-------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------Main CSS-------------*/

.main {
  margin: auto;
  width: 500px;
  min-height: 500px;
  margin-top: 50px;

}

.title {
  text-align: left;
  font-size: 30px;
  padding: 15px 0px;
}

form {
    display: inline-block;
}

form input {
  width: 250px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 8px;
}

button {
  cursor: pointer;
}

#submit-item {
  padding: 10px 30px;
  background-color: #53b5e6;
  border: none;
  color: #fff;
  border-radius: 5px;
}

#clear-complete {
  padding: 10px 30px;
  background-color: #ff4949;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-left: 30px;
}

.list {
  font-family:garamond;
  color: black;
  margin-top: 30px;
}

.item {
  border-radius: 5px;
  border: 1px solid #53b5e6;
  margin: 3px;
  padding: 0.4em;
  font-size: 1em;
  height: 16px;
  width: 100%;
}


.completed-item {
  border-radius: 5px;
  border: 1px solid #ff4949;
  margin: 3px;
  padding: 0.4em;
  font-size: 1em;
  height: 16px;
  width: 100%;
  text-decoration: line-through;
}

body.dragging, body.dragging * {
	cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

ul.list li.placeholder {
	position: relative;
}

ul.list li.placeholder:before {
	position: absolute;
}